#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}
.loading-1 {
  /* margin-top: 50vh; */
  /* margin-left: 45vw; */
  position: relative;
}
.loading-1 i {
  position: absolute;
  bottom: 0px;
  display: block;
  width: 9px;
  height: 5px;
  background: #9b59b6;
  animation: loading-1 1.5s infinite ease-in-out;
}
.loading-1 i:nth-child(2) {
  left: 11px;
  animation-delay: 0.2s;
}
.loading-1 i:nth-child(3) {
  left: 22px;
  animation-delay: 0.4s;
}
.loading-1 i:nth-child(4) {
  left: 33px;
  animation-delay: 0.6s;
}
.loading-1 i:nth-child(5) {
  left: 44px;
  animation-delay: 0.8s;
}
@keyframes loading-1 {
  0% {
    height: 5px;
    transform: translateY(0px);
    background: #9b59b6;
  }
  25% {
    height: 30px;
    transform: translateY(15px);
    background: #3498db;
  }
  50% {
    height: 5px;
    transform: translateY(0px);
    background: #9b59b6;
  }
  100% {
    height: 5px;
    transform: translateY(0px);
    background: #9b59b6;
  }
}
